# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# Alembic migration cache
alembic/versions/*.pyc

# Database files
*.sqlite3
*.db

# Sensitive data
*.env
.env

# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# IDE config files
.vscode/
.idea/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Docker
*.pid
*.tar